[submodule "src/px4_msgs"]
	path = src/px4_msgs
	url = https://github.com/PX4/px4_msgs.git
[submodule "src/livox_ros_driver2"]
	path = src/livox_ros_driver2
	url = https://github.com/Livox-SDK/livox_ros_driver2.git
	branch = master
[submodule "src/FAST_LIO_ROS2"]
	path = src/FAST_LIO_ROS2
	url = https://github.com/Ericsii/FAST_LIO_ROS2.git
	branch = ros2
[submodule "third_party/Livox-SDK2"]
	path = third_party/Livox-SDK2
	url = https://github.com/Livox-SDK/Livox-SDK2.git
	branch = master
